body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 1;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 4;
  display: flex;
}

.navigation-button {
  margin: 5px;
}

.cart {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}

.cart button {
  margin-left: 10px;
}